{% extends "layout.html" %}

{% set title = "Manage clients" %}
{% set version = "1" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}



{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    {% include "includes/nav.html" %}

            <h1 class="heading-xlarge">
                {{title}}
            </h1>

            <a href="/dashboard/{{version}}/manage-clients/pending-requests">
               You have 2 pending requests
            </a>

            <div class="table-wrapper">

            <table id="dataTableClients" class="table-font-xsmall margin-bottom-20 margin-top-30">

                <thead>
                    <tr>
                        <th scope="col">Organisation name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Local authority reference</th>
                        <th scope="col">Permissions</th>
                        <th scope="col" class="last">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Org ABC</td>
                        <td>41 -43, Pinn Hill, Exeter, EX1 3TH</td>
                        <td>2209804101</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: No</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org DEF</td>
                        <td>1, The High St, Exeter, EX2 4TH</td>
                        <td>2209804102</td>
                        <td>
                            <ul>
                                <li>Check: No</li>
                                <li>Challenge: No</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org GHI</td>
                        <td>3, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804102</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org JKL</td>
                        <td>5, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org MNO</td>
                        <td>6, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804109</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org PQR</td>
                        <td>9, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804168</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org STU</td>
                        <td>7, The Low St, Exeter, EX2 5TH</td>
                        <td>2209802108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org VWX</td>
                        <td>12, The Low St, Exeter, EX2 5TH</td>
                        <td>2209604108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org WYZ</td>
                        <td>50, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804118</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org ABC</td>
                        <td>41 -43, Pinn Hill, Exeter, EX1 3TH</td>
                        <td>2209804101</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: No</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org DEF</td>
                        <td>1, The High St, Exeter, EX2 4TH</td>
                        <td>2209804102</td>
                        <td>
                            <ul>
                                <li>Check: No</li>
                                <li>Challenge: No</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org GHI</td>
                        <td>3, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804102</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org JKL</td>
                        <td>5, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org MNO</td>
                        <td>6, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804109</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org PQR</td>
                        <td>9, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804168</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org STU</td>
                        <td>7, The Low St, Exeter, EX2 5TH</td>
                        <td>2209802108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org VWX</td>
                        <td>12, The Low St, Exeter, EX2 5TH</td>
                        <td>2209604108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org WYZ</td>
                        <td>50, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804118</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org ABC</td>
                        <td>41 -43, Pinn Hill, Exeter, EX1 3TH</td>
                        <td>2209804101</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: No</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org DEF</td>
                        <td>1, The High St, Exeter, EX2 4TH</td>
                        <td>2209804102</td>
                        <td>
                            <ul>
                                <li>Check: No</li>
                                <li>Challenge: No</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org GHI</td>
                        <td>3, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804102</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org JKL</td>
                        <td>5, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org MNO</td>
                        <td>6, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804109</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org PQR</td>
                        <td>9, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804168</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org STU</td>
                        <td>7, The Low St, Exeter, EX2 5TH</td>
                        <td>2209802108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org VWX</td>
                        <td>12, The Low St, Exeter, EX2 5TH</td>
                        <td>2209604108</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Org WYZ</td>
                        <td>50, The Low St, Exeter, EX2 5TH</td>
                        <td>2209804118</td>
                        <td>
                            <ul>
                                <li>Check: Yes</li>
                                <li>Challenge: yes</li>
                            </ul>
                        </td>
                        <td class="last">
                            <ul>
                                 <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Revoke Client
            </a></li>
                                <li><a href="#">Property details</a></li>
                            </ul>
                        </td>
                    </tr>




                </tbody>

            </table>
</div>
<div class="dialog" id="dialog-revoke" aria-hidden="true" data-modal="true">
                <div class="dialog-holder" aria-labelledby="dialog-content-revoke" aria-describedby="dialog-content-revoke" role="alertdialog" data-target-remove="">
                    <div class="dialog-content" id="dialog-content-revoke" role="document" tabindex="0">
                        <button class="dialog-close" aria-label="close" type="button"><span class="icon icon-close">x</span></button>
                        <div class="modal-content-div"><h3 class="heading-small">Revoke client</h3>
                        <p>Are you sure you no longer want to represent <br />[Client name] for this property?</p></div>
                        <a href="#" class="button pull-left">Revoke client</a>
                       
                        <a href="#" class="dialog-cancel button-secondary pull-right" aria-label="close">Cancel</a>
                    </div>
                </div>
            </div>


    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
