<details class="get-help-toggle">
    <summary role="button" aria-expanded="false"><span class="summary">Get help with this page.</span></summary>
    <div class="panel panel-border-wide" id="details-content-4">
        <p>If you’d like to speak to somebody about this service, please contact us.</p><p>Email<br><a href="mailto:ccaservice@voa.gsi.gov.uk">ccaservice@voa.gsi.gov.uk</a></p><p>Telephone<br><strong>03000 501 501</strong></p><p>Opening hours: 8:30am to 5:00pm Monday to Friday. Closed on bank holidays.</p>
    </div>
</details>
