.agent-code {
    color: #6f777b;
    display: inline-block;
    margin-top: 1.2em;
    font-size: .4em;
}
.list-action{
    padding: 0;
    margin: 0;
}

table th.proposed, table td.proposed {
   background-color: #f0f8ff;
   padding-left: 10px;
}

.border-right {
  border-right: solid 1px #bfc1c3;
}

.border-left {
  border-left: solid 1px #bfc1c3;
}
