.notification-banner {
	color:#FFFFFF; 
	font-weight:bold; 
	background-color:#005ea5; 
	padding-bottom:5px; 
	text-align:center; 
	margin-bottom:20px;
}

.notification-banner a {
	color:#FFFFFF;
}


.notification-banner p {
	margin:0;
	font-weight:bold;
	padding-top:10px;
}

@media (min-width: 769px)

{
	.notification-banner p {
	width:75%; 
	margin:0  auto;
}
}





.alert--info {
    background-color: #ddeeff;
    border-color: #005EA4;
    position: relative;
    margin: 0.52632em 0;
    clear: both;
    border-left-width: 0.15789em;
    border-left-style: solid;
    margin: 0 0 1.05263em;
    padding: 0.89474em 0.78947em;
}

.alert--success {
    background-color: #e9f5f4;
    border-color: #28a197;
    position: relative;
    margin: 0.52632em 0;
    clear: both;
    border-left-width: 0.15789em;
    border-left-style: solid;
    margin: 0 0 1.05263em;
    padding: 0.89474em 0.78947em;
}

.hero {
    background-color: #005ea5;
}

.hero__content {
    display: block;
    max-width: 960px;
    margin: 0 auto;
	padding-top: 35px;
	padding: 1.05263em 1.57895em 1.05263em 1.57895em;
    line-height: 1.5;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
}

.hero__heading-medium {
    font-weight: 700;
    text-transform: none;
    font-size: 36px;
    line-height: 1.04167;
	color: white;
}

.form-grouped-error .file-error {
    color: #b10e1e;
    font-weight: 800;
    font-size: 19px;
    margin-bottom: 10px;
    display: inline-block;
}

.form-grouped-error {
    border-left: 5px solid #b10e1e;
    list-style: outside none none;
    padding: 0 0.5em 0.5em 1em;
    display: block;
}
.form-group .heading-medium{
    display: block;
    margin-bottom: .3em;
}
.govuk-box-highlight{
    padding: 2em .6em;
}

.heading-secondary {
    color: #6f777b;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
}

.banner-temporary-message-without-action {
  border: none;
  margin-bottom: 30px;
  background: #005ea5;
  color: #fff;
  padding: 15px 15px 18px 15px;
}
.banner-temporary-message-without-action {
    padding: 20px 15px 20px 15px;
}

.rateable-value-top-banner {
    text-align: center;
    margin-bottom: 30px;
}
.tabular-data__entry {
    display: table;
    width: 100%;
    position: relative;
    padding: .78947em 0;
}
.assessment-col-2x li {
    width: calc(50% - 20px);
    float: left;
    border-bottom: solid 1px #bfc1c3;
    margin: 0.2em 0;
    margin-right: 20px;
    line-height: 2em;
}
@media (min-width: 641px){
    #assessment-details .tabular-data__data-1 {
        width: 40%;
        white-space: pre-wrap;
    }
}
.assessment-col-2x .tabular-data__data-1 {
    display: inline-block;
}
.tabular-data__entry * {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
}
.assessment-col-2x .tabular-data__heading--label {
    width: 49%;
    display: inline-block;
}

.tabular-data__heading--label {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
}
caption {
    text-align: left;
    font-weight: 800;
}

tfoot .total td, tfoot .subtotal td {
    border-top: solid 2px #0b0c0c;
}
tfoot .total td {
    border-bottom: 0;
}
sup {
    font-size: .7em;
    font-weight: 800;
}

table .last, .table .last {
    padding-right: 0;
    text-align: right;
}

.print-link {
    display: inline-block;
    background: transparent no-repeat 0 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==");
    padding: 0.5em 0 0.5em 28px;
    zoom: 1;
}
.property-details-top{
    margin-top: 20px;
    span{
        font-size: 16px;
    }
}


.summary li {
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #bfc1c3; }

  .summary li ol li {
    border-bottom: none;
    padding: 0;
    margin: 0; }


.summary .question {
  width: 42%;
  display: inline-block;
  vertical-align: top; }


.summary .answer {
  width: 40%;
  display: inline-block;
  margin-left: 20px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin-top: 10px; }


.summary .edit {
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 16px; }


.summary h3 {
  margin-top: 40px;
  margin-bottom: 0; }


  .transaction-banner--complete {
      background-color: #28a197;
      color: #fff;
      padding: 30px;
      margin-bottom: 30px;
      text-align: center;
  }

  .transaction-banner__heading {
    font-family: "nta",Arial,sans-serif;
    font-size: 36px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin: 15px 0;
}

.submission-number {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    display: block;
}
.check-your-answers.small td{
    font-size: 16px;
}
.pound{
	position: relative;
	left: 20px;
	margin-left: -14px;
}
.input-currency{
	padding-left: 24px;
}
