.alert--info {
    background-color: #ddeeff;
    border-color: #005EA4;
    position: relative;
    margin: 0.52632em 0;
    clear: both;
    border-left-width: 0.15789em;
    border-left-style: solid;
    margin: 0 0 1.05263em;
    padding: 0.89474em 0.78947em;
}

.hero {
    background-color: #005ea5;
}

.hero__content {
    display: block;
    max-width: 960px;
    margin: 0 auto;
	padding-top: 35px;
	padding: 1.05263em 1.57895em 1.05263em 1.57895em;
    line-height: 1.5;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
}

.hero__heading-medium {
    font-weight: 700;
    text-transform: none;
    font-size: 36px;
    line-height: 1.04167;
	color: white;
}
