.navigation-links {
    text-align: right;
    margin: 18px 0 0 0;
    li {
        display: inline-block;
        margin-left: 1em;
    }
}

.navigation-links-left {
    margin: 18px 0 0 0;
    font-weight: 800;
    li {
        display: inline-block;
        margin-right: 1em;
    }
    .welcome span{
        font-weight: normal;
    }
}

.phase-banner{
    .sign-out{
    margin-top: -20px;
    float: right;
    }

}
