{% extends "layout.html" %}

{% set title = "Declaration" %}
{% set version = "4" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    <div class="grid-row">
            <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                {{title}}
            </h1>


            <form action="/business-rates-property-linking/summary" method="POST">
    <input type="hidden" name="csrfToken" value="623b924a99f681db6c0bf3d089eaf9ab018c5681-1492507158086-8483a7aea6d333a62d9b03da">


                <p>I declare that:</p>

                <ul class="list-bullet">
                    <li>the information I have given in this form is correct and complete</li>
                    <li>the file/details that I have uploaded contains proof of my relationship to the property for dates that overlap with the period claimed</li>
                </ul>

                <p>I understand that I could be taken to court if I knowingly submit false information.</p>

                <div class="notice">
                    <i class="icon icon-important">
                        <span class="visually-hidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        Once you submit the form you will not be able to go back and make any changes.
                    </strong>
                </div>












<div class=" form-group">


			<div id="declarationGroup" class="margin-top-20">


                        <p class="error-message" id="declaration_error"></p>


















<div class="multiple-choice">
<input type="checkbox" id="declaration" name="declaration" value="true">
    <label class="block-label selection-button-checkbox" for="declaration">
        I agree to the above declaration
    </label>
</div>











	 </div>

</div>




                <p>
                    <a href="/dashboard/{{version}}/business-small/find-property/confirmation"  class="button">Continue</a>
                </p>
                <a href="javascript: history.go(-1)" class="link-back">Back</a>

</form>
</div>
</div>

    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
