{% extends "layout.html" %}

{% set title = "Properties" %}
{% set version = "4" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype_signout.html" %}



        <div class="section-tabs">
            <ul role="tablist">
              <li class="active"><a href="/dashboard/{{version}}/business">My properties</a></li>
              <li><a href="/dashboard/{{version}}/business/drafts">Drafts</a></li>
              <li><a href="/dashboard/{{version}}/business/change-details/summary">My details</a></li>
              <li class="tab-right"><span>Welcome, <a href="/dashboard/{{version}}/business/change-details/summary">Jo Bloggs - ABC Business</a>.<a href="#" class="margin-left-10">Not you?</a></span></li>
            </ul>
        </div>

        <h1 class="visuallyhidden">
            {{title}}
        </h1>

        <ul class="data-filter" style="margin: 40px 0 20px;">

            <li class="data-approved"><a href="#" class="current" data-filter="approved" >Approved</a></li>
            <li class="data-pending"><a href="#" data-filter="pending" >Pending</a></li>
            <li class="data-declined"><a href="#" data-filter="declined" >Declined</a></li>
            <li class="data-all"><a href="#"  data-filter="all">All</a></li>
            <li class="claim-property"><a href="/dashboard/{{version}}/business/find-property">+ Claim property</a></li>
        </ul>

    <div class="table-wrapper">
        <table id="propertiesTableBusiness" class="table-font-xsmall margin-top-0">
            <colgroup>
                <col >
                <col style="width:220px">
                <col >
                <col style="width:180px">
                <col >
            </colgroup>
            <caption>
                <p>You have <span class="count"></span> <span class="filter"></span> properties</p>
            </caption>
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Local authority reference</th>
                    <th>Agent</th>
                    <th>Actions</th>
                    <th>Status</th>
                </tr>
                <tr id="filterrow">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
               </tr>
            </thead>
            <tbody>

            <tbody>
        </table>
    </div>


    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
