{% extends "layout.html" %}

{% set title = "Clients" %}
{% set version = "2" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}



{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    <div class="section-tabs">
        <ul role="tablist">
          <li ><a href="/dashboard/{{version}}/business">Properties</a></li>
          <li  class="active"><a href="/dashboard/{{version}}/business/manage-clients">Clients</a></li>
          <li><a href="/dashboard/{{version}}/business/drafts">Drafts</a></li>
          <li><a href="/dashboard/{{version}}/business/change-details/summary">My details</a></li>
          <li class="tab-right"><span>Welcome, Jo Bloggs of ABC Business<a href="#" class="not-you">(Not you?)</a></span><a href="#">Sign out</a></li>
        </ul>
    </div>
            <h1 class="visuallyhidden">
                {{title}}
            </h1>




            <p>You have 9 clients and <a href="/dashboard/{{version}}/business/manage-clients/pending-requests">2 pending client requests</a></p>



            <ul class="data-filter margin-top-20">
                <li class="data-all reset" style="border:none"><a href="#" data-filter="all" class="current">Clear filters</a></li>
            </ul>



            <div class="table-wrapper">

            <table id="clientsTable" class="table-font-xsmall margin-bottom-20 margin-top-30">

                <thead>
                    <tr>
                        <th scope="col">Client</th>
                        <th scope="col">Address</th>
                        <th scope="col">Local authority</th>
                        <th scope="col">Permissions</th>
                        <th scope="col">Actions</th>
                    </tr>
                    <tr id="filterrow">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                   </tr>
                </thead>
                <tbody>

                <tbody>
            </table>
</div>




    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
