{% extends "layout.html" %}

{% set title = "Manage properties" %}
{% set version = "1" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block head %}
  {% include "includes/head.html" %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}



{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype_signout.html" %}
  <div class="pull-right margin-top-20 margin-bottom-20 font-xsmall">Welcome, <a href="/dashboard/{{version}}/business/change-details/summary">Jo Bloggs - ABC Business</a>.<a href="#" class="margin-left-10">Not you?</a></div>


        <div class="clearfix section-tabs">
            <ul role="tablist">
             <li ><a href="/dashboard/{{version}}/interim-business/">My properties</a></li>
              <li class="active"><a href="/dashboard/{{version}}/interim-business/agents">Agents</a></li>
              <li><a href="/dashboard/{{version}}/interim-business/drafts" >Drafts</a></li>
              <li><a href="/dashboard/{{version}}/interim-business/change-details/summary">My details</a></li>
        
            </ul>
        </div>


    <h1 class="visuallyhidden">
        {{title}}
    </h1>

    
    <div class="table-wrapper">
         <table class="table-font-xsmall margin-bottom-20 margin-top-30" >
             <caption class="visuallyhidden">Your properties</caption>

             <thead>
                 <tr>
                     <th>Agent name</th>
                     <th>Agent code</th>
                     <th>Actions</th>
                 </tr>
            </thead>
            <tbody>

                     <tr>
                         <td>
                             Agent 1
                         </td>
                         <td>
                             09139385080004
                         </td>
                         <td>
                             <ul class="list list-action">
                                 <li>
                                     <a href="/dashboard/{{version}}/interim-business/properties">View managed properties</a>
                                 </li>
                             </ul>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>




         <br />
         <p><a class="link-back" href="/dashboard/{{version}}/">Back</a></p>



    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
