{% extends "layout.html" %}

{% set title = "Properties managed  by Agent 1" %}
{% set version = "1" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    




            <h1 class="heading-xlarge clear-right">
                    <span class="heading-secondary">
                        Properties managed by
                    </span>
                    <span class="section-title">Agent 1</span>
                </h1>

            <div class="table-wrapper">
                <table class="table-font-xsmall margin-bottom-20 margin-top-30">
                    <tbody>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">Local authority reference</th>
                            <th scope="col">Status</th>
                            <th scope="col">Appointed agents</th>
                            <th scope="col">Actions</th>
                        </tr>

                            <tr>
                                <td>
                                    Pinhoe Rifle Club, Langaton Lane, Exeter, EX1 3SL
                                </td>
                                <td>
                                    2209313001
                                </td>
                                <td>
                                	Pending
                                </td>
                                <td>
                                    Agent 1
                                </td>

                                <td >
                                    <ul class="list list-action">

                                        <li><a href="#dialogrevoke" data-toggle="dialog" data-target="dialog-revoke">
              Remove agent
            </a></li>
                                        <li><a href="#">
                                            Appoint agent
                                        </a></li>
                                        <li><a href="#">
                                            Property details
                                        </a></li>

                                    </ul>
                                </td>
                            </tr>


                    </tbody>
                </table>
            </div>

            <a href="javascript: history.go(-1)" class="link-back">Back</a>

    {% include "includes/get_help.html" %}
    
    <div class="dialog" id="dialog-revoke" aria-hidden="true" data-modal="true">
                <div class="dialog-holder" aria-labelledby="dialog-content-revoke" aria-describedby="dialog-content-revoke" role="alertdialog" data-target-remove="">
                    <div class="dialog-content" id="dialog-content-revoke" role="document" tabindex="0">
                        <button class="dialog-close" aria-label="close" type="button"><span class="icon icon-close">x</span></button>
                        <div class="modal-content-div"><h3 class="heading-small">Remove agent</h3>
                        <p>Are you sure you no longer want <br />[Agent name] to act on behalf of [this property]?</p></div>
                        <a href="#" class="button pull-left">Remove agent</a>
                       
                        <a href="#" class="dialog-cancel button-secondary pull-right" aria-label="close">Cancel</a>
                    </div>
                </div>
            </div>

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
