{% extends "layout.html" %}

{% set title = "Parking" %}
{% set version = "7" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}
<main id="content" role="main"> {% include "includes/phase_banner_prototype.html" %}
  <div class="grid-row">
    <div class="column-full">
     
      <ul class="property-details-top">
        <li id="billingAuthorityReference"> <span class="tabular-data__heading--label">Local authority reference: </span> <span>0930/09139385080004</span> </li>
        <li id="address"> <span class="tabular-data__heading--label">Property: </span> <span>OLD MILL CAFE, COAST ROAD, BARDSEA, ULVERSTON, CUMBRIA, LA12 9RB</span> </li>
      </ul>
      <a href="/dashboard/{{version}}/check" class="link-back">Back</a>
      <h1 class="heading-xlarge" > {{title}} </h1>
       <p>This page shows the parking spaces and areas for your property.</p>
     
     
     <p>Parking is recorded as either spaces or areas.</p>
<p>Parking may be covered or uncovered. It may also be surfaced (for example concrete) or unsurfaced (for example grass or gravel).</p>        
      <table class="table-summary-amend table-font-small margin-bottom-20" id="tableParking">
        <thead>
          <tr>
            <th class="original">Description of spaces</th>
            <th class="original">Number of spaces</th>
            <th class="proposed">Proposed number of spaces</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="original">Surfaced covered spaces</td>
            <td class="original">271 spaces</td>
            <td class="proposed">300 spaces</td>
          </tr>
          <tr>
            <td class="original">Surfaced open spaces</td>
            <td class="original">50 spaces</td>
            <td class="proposed">25 spaces</td>
          </tr>
          <tr>
            <td class="original">Unsurfaced covered spaces</td>
            <td class="original">28 spaces</td>
            <td class="proposed">No change</td>
          </tr>
          <tr>
            <td class="original">Unsurfaced open spaces</td>
            <td class="original">32 spaces</td>
            <td class="proposed">No change</td>
          </tr>
          <tr>
            <td class="original">Garage spaces</td>
            <td class="original">0 spaces</td>
            <td class="proposed">5 spaces</td>
			</tr>
          <tr>
            <th>Description of areas</th>
            <th>Area (m&sup2;)</th>
            <th>Proposed area (m&sup2;)</th>
          </tr>
          <tr>
            <td class="original">Surfaced covered areas</td>
            <td class="original">0m&sup2;</td>
            <td class="proposed">10m&sup2;</td>
          </tr>
          <tr>
            <td class="original">Surfaced open areas</td>
            <td class="original">0m&sup2;</td>
            <td class="proposed">No change</td>
          </tr>
          <tr>
            <td class="original">Unsurfaced covered areas</td>
            <td class="original">65m&sup2;</td>
            <td class="proposed">60m&sup2;</td>
          </tr>
          <tr>
            <td class="original">Unsurfaced open areas</td>
            <td class="original">16m&sup2;</td>
            <td class="proposed">No change</td>
          </tr>
          <tr>
            <td class="original">Garage area</td>
            <td class="original">28m&sup2;</td>
            <td class="proposed">12m&sup2;</td>
          </tr>
        </tbody>
      </table>
		<p>If you believe that any of the information is incorrect you can propose changes. <a href="/dashboard/{{version}}/check/parking/further-edit-parking.html" class="pull-right button margin-top-20 margin-right-20">Suggest changes</a> </p>
     <a href="#" class="button margin-top-20 margin-right-20 margin-bottom-20">Save & continue</a>   <a href="#" class="button button-secondary margin-top-20 margin-right-20 margin-bottom-20">Save & exit</a>
      <a href="/dashboard/{{version}}/check" class="clearfix link-back">Back</a>  </div>
  </div>
  {% include "includes/get_help.html" %} </main>
{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %} 
  <!-- GOV.UK Prototype kit {{releaseVersion}} --> 
  {% endblock %} 