{% extends "layout.html" %}

{% set title = "Client properties" %}
{% set version = "1" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block head %}
  {% include "includes/head.html" %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}



{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype_signout.html" %}



        <div class="section-tabs">
            <ul role="tablist">
             <li class="active"><a href="/dashboard/{{version}}/interim/">Client properties</a></li>
             <li><a href="/dashboard/{{version}}/interim/clients">Clients</a></li>
              <li><a href="/dashboard/{{version}}/interim/properties">My properties</a></li>
              <li><a href="/dashboard/{{version}}/interim/drafts" >Drafts</a></li>
              <li><a href="/dashboard/{{version}}/interim/change-details/summary">My details</a></li>
              <li class="tab-right"><span>Welcome, <a href="/dashboard/{{version}}/interim/change-details/summary">Jo Bloggs  - ABC Agent</a>.<a href="#" class="margin-left-10">Not you?</a></span></li>
             
            </ul>
        </div>


    <h1 class="visuallyhidden">
        {{title}}
    </h1>

        <p><a href="/todo">You have 2 pending requests</a></p>


    <div class="table-wrapper">
         <table class="table-font-xsmall margin-bottom-20 margin-top-30" id="interimClientProperties">
             <caption class="visuallyhidden">Your properties</caption>

             <thead>
                 <tr>
                     <th>Client name</th>
                     <th>Address</th>
                     <th>Local authority reference</th>
                     <th>Permissions</th>
                     <th>Actions</th>
                 </tr>
                 <tr id="filterrow">
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                </tr>
            </thead>
            <tbody>

                 </tbody>
             </table>
         </div>




         <br />
         <p><a class="link-back" href="/dashboard/{{version}}/">Back</a></p>



    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
