{% extends "layout.html" %}

{% set title = "Pending VOA approval" %}
{% set version = "3" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

        <h1 class="heading-xlarge">
            {{title}}
        </h1>

        <p>Your property has been submitted to VOA for approval. It may take some time depending on the type of property.</p>

        <p>You can <a href="/dashboard/{{version}}/business-small/appoint-agent">appoint an agent</a> for this property</p>

        <a href="javascript: history.go(-1)" class="link-back">Back</a>

</div></div>
    {% include "includes/get_help.html" %}

</main>



{% endblock %}
{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
