{% extends "layout.html" %}

{% set title = "Messages" %}
{% set version = "7" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}
<main id="content" role="main"> {% include "includes/phase_banner_prototype.html" %}
  <div class="grid-row">
    <div class="column-full">
      <div class="pull-right margin-top-20 margin-bottom-20 font-xsmall">Welcome, <a href="/dashboard/{{version}}/business/change-details/summary">Jo Bloggs - ABC Business</a>.<a href="#" class="margin-left-10">Not you?</a> <a href="#" class="margin-left-10">Sign out</a></div>
      <div class="clearfix pull-right margin-top-5 margin-bottom-20 font-xsmall"><i class="icon icon-messageunread"> </i>You have <a href="#">(2) unread messages</a></div>
      <div class=" clearfix section-tabs">
        <ul role="tablist">
          <li><a href="/dashboard/{{version}}/business">My properties</a></li>
          <li><a href="/dashboard/{{version}}/business/drafts">Drafts</a></li>
          <li><a href="/dashboard/{{version}}/business/change-details/summary">My details</a></li>
          <li class="active"><a href="/dashboard/{{version}}/business">Messages (2)</a></li>
        </ul>
      </div>
      <h1 class="visuallyhidden"> {{title}} </h1>
      <h1>{{title}}</h1>
      <table class="table-font-small messages">
        <thead>
          <tr>
            <th class="message--status"><span class="hidden">Status</span></th>
            
            <th class="messages--subject" scope="col">Subject</th>
            <th class="messages--reference" scope="col">Reference</th>
            <th class="messages--address" scope="col">Address</th>
            <th class="messages--date" scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr role="row">
            <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 150px;"><input name="address" type="search" size="10" class="icon icon-search"></th>
            <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;"><input name="baref" type="search" size="10" class="filter-input">
              <button class="icon"><i class="search-icon"></i></button></th>
            <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 280px;"><input name="status" type="search" size="10" class="filter-input">
              <button class="icon icon-search"></button></th>
            <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 140px;"><input name="agent" type="search" size="8" class="filter-input">
              <button class="icon"><i class="search-icon"></i></button></th>
            <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 120px;"><a href="#" class="clear">Clear search</a></th>
          </tr> -->
          <tr class="messages--row">
            <td data-label="Status"><a href="#" data-toggle="dialog" data-target="dialog-message"><i class="icon icon-messageunread"><span class="hidden">unread</span></i></a></td>
           
            <td data-label="Subject"><a href="#" data-toggle="dialog" data-target="dialog-message">Update: we have received your business rates check (JS Version)</a></td>
            <td data-label="Reference"><a href="#" data-toggle="dialog" data-target="dialog-message">[ref]</a></td>
            <td data-label="Address"><a href="#" data-toggle="dialog" data-target="dialog-message">[address]</a></td>
             <td data-label="Date"><a href="#" data-toggle="dialog" data-target="dialog-message">19/4/17 - 12:07</a></td>
          </tr>
          <tr class="messages--row messages--row__read">
            <td data-label="Status"><a href="#" data-toggle="dialog" data-target="dialog-message2"><i class="icon icon-messageread"><span class="hidden">unread</span></i></a></td>
           
            <td data-label="Subject"><a href="#" data-toggle="dialog" data-target="dialog-message2">Update: We have received a business rates check from your agent (JS Version)</a></td>
            <td data-label="Reference"><a href="#" data-toggle="dialog" data-target="dialog-message2">[ref]</a></td>
            <td data-label="Address"><a href="#" data-toggle="dialog" data-target="dialog-message2">[address]</a></td>
             <td data-label="Date"><a href="#" data-toggle="dialog" data-target="dialog-message2">16/4/17 - 09:40</a></td>
          </tr>
           <tr class="messages--row messages--row__read">
            <td data-label="Status"><a href="#" data-toggle="dialog" data-target="dialog-message3"><i class="icon icon-messageread"><span class="hidden">unread</span></i></a></td>
         
           
            <td data-label="Subject"><a href="#" data-toggle="dialog" data-target="dialog-message3">Update: We have received your business rates check (JS Version)</a></td>
            <td data-label="Reference"><a href="#" data-toggle="dialog" data-target="dialog-message3">[ref]</a></td>
            <td data-label="Address"><a href="#" data-toggle="dialog" data-target="dialog-message3">[address]</a></td>
             <td data-label="Date"><a href="#" data-toggle="dialog" data-target="dialog-message3">4/4/17 - 08:30</a></td>
          </tr>
          <tr class="messages--row messages--row__read">
            <td data-label="Status"><a href="#" data-toggle="dialog" data-target="dialog-message"><i class="icon icon-messageread"><span class="hidden">read</span></i></a></td>
            
            <td data-label="Subject"><a href="messages/message-1.html" >Update: we have received your business rates check (NON-JS Version)</a></td>
            <td data-label="Reference"><a href="#" data-toggle="dialog" data-target="dialog-message">123456789</a></td>
            <td data-label="Address"><a href="#" data-toggle="dialog" data-target="dialog-message">164 Exeter Road, Portsmouth, PO1 123</a></td>
            <td data-label="Date"><a href="#" data-toggle="dialog" data-target="dialog-message">19/3/17 - 17:00</a></td>
          </tr>
          <tr class="messages--row messages--row__read">
            <td data-label="Status"><a href="messages/message-2.html"><i class="icon icon-messageread"><span class="hidden">read</span></i></a></td>
            
            <td data-label="Subject"><a href="messages/message-2.html">Update: We have received a business rates check from your agent (NON-JS Version)</a></td>
            <td data-label="Reference"><a href="messages/message-2.html" data-toggle="dialog" data-target="dialog-message">123456789</a></td>
            <td data-label="Address"><a href="messages/message-2.html" data-toggle="dialog" data-target="dialog-message">164 Exeter Road, Portsmouth, PO1 123</a></td>
            <td data-label="Date"><a href="messages/message-2.html" data-toggle="dialog" data-target="dialog-message">10/3/17 - 13:08</a></td>
          </tr>
          <tr class="messages--row messages--row__unread">
            <td data-label="Status"><a href="messages/message-3.html"><i class="icon icon-messageunread"><span class="hidden">unread</span></i></a></td>
           
            <td data-label="Subject"><a href="messages/message-3.html">[Subject] Update: We have received your business rates check</a></td>
            <td data-label="Reference"><a href="messages/message-3.html">123456789</a></td>
            <td data-label="Address"><a href="messages/message-3.html">164 Exeter Road, Portsmouth, PO1 123</a></td>
             <td data-label="Date"><a href="messages/message-3.html">9/2/17 - 14:12</a></td>
          </tr>
          <tr class="messages--row messages--row__read">
            <td data-label="Status"><a href="#" data-toggle="dialog" data-target="dialog-message"><i class="icon icon-messageread"><span class="hidden">read</span></i></a></td>
            
            <td data-label="Subject"><a href="#" data-toggle="dialog" data-target="dialog-message">Proposed changes to valuation</a></td>
            <td data-label="Reference"><a href="#" data-toggle="dialog" data-target="dialog-message">123456789</a></td>
            <td data-label="Address"><a href="#" data-toggle="dialog" data-target="dialog-message">164 Exeter Road, Portsmouth, PO1 123</a></td>
            <td data-label="Date"><a href="#" data-toggle="dialog" data-target="dialog-message">2/1/17 - 11:11</a></td>
          </tr>
          <tr class="messages--row messages--row__read">
            <td data-label="Status"><a href="#" data-toggle="dialog" data-target="dialog-message"><i class="icon icon-messageread"><span class="hidden">read</span></i></a></td>
            
            <td data-label="Subject"><a href="#" data-toggle="dialog" data-target="dialog-message">Proposed changes to valuation</a></td>
            <td data-label="Reference"><a href="#" data-toggle="dialog" data-target="dialog-message">123456789</a></td>
            <td data-label="Address"><a href="#" data-toggle="dialog" data-target="dialog-message">164 Exeter Road, Portsmouth, PO1 123</a></td>
            <td data-label="Date"><a href="#" data-toggle="dialog" data-target="dialog-message">24/11/16-15:12</a></td>
          </tr>
          <tr class="messages--row messages--row__read">
            <td data-label="Status"><a href="#" data-toggle="dialog" data-target="dialog-message"><i class="icon icon-messageread"><span class="hidden">read</span></i></a></td>
           
            <td data-label="Subject"><a href="#" data-toggle="dialog" data-target="dialog-message">Proposed changes to valuation</a></td>
            <td data-label="Reference"><a href="#" data-toggle="dialog" data-target="dialog-message">123456789</a></td>
            <td data-label="Address"><a href="#" data-toggle="dialog" data-target="dialog-message">164 Exeter Road, Portsmouth, PO1 123</a></td>
             <td data-label="Date"><a href="#" data-toggle="dialog" data-target="dialog-message">10/10/16-08:42</a></td>
          </tr>
        </tbody>
      </table>
      <div class="dialog dialog-scroll" id="dialog-message" aria-hidden="true" data-modal="true">
        <div class="dialog-holder" aria-labelledby="dialog-message" aria-describedby="dialog-content-delete" role="alertdialog">
          <div class="dialog-content" id="dialog-content-message" role="document" tabindex="0">
            <button class="dialog-close" aria-label="close" type="button"><span class="icon icon-close">x</span></button>
            <div class="modal-content-div">
              <h3 class="heading-small">[Subject] Update: we have received your business rates check</h3>
              <p><strong>Reference: [reference]</strong></p>
              <p><strong>Property: [address]</strong></p>
              <p><strong>Received: [date and time]</strong></p>
              <p>We have received your business rates check that you submitted with submission ID {submission
                ID}.</p>
              <p>We have now created a case reference number for your check which you should use for all future
                correspondence. Your case reference number is {case reference number}.</p>
              <h3 class="heading heading-small">What happens now?</h3>
              <p>The check will be considered by the Valuation Office Agency (VOA). No further action is required
                at this time.</p>
              <p>We aim to provide a response within 12 weeks. Some checks may take longer to resolve. We will
                prioritise your check if you are a smaller proposer. We will contact you with an outcome for your
                check.</p>
              <p>We may contact you if we need more information or evidence.</p>
              <p><strong>Please note:</strong> the information submitted as part of your check may cause the valuation to go up
                as well as down.</p>
              <p>Valuation Office Agency</p>
               <a href="#" role="button">Print this message</a><br />
               <a href="#" role="button">Download this message as a PDF</a><br />
              <a href="#" class="margin-top-10 dialog-cancel button-secondary" aria-label="close" role="button">Close</a> </div>
          </div>
        </div>
      </div>
      <div class="dialog dialog-scroll" id="dialog-message2" aria-hidden="true" data-modal="true">
        <div class="dialog-holder" aria-labelledby="dialog-message" aria-describedby="dialog-content-delete" role="alertdialog">
          <div class="dialog-content" id="dialog-content-message2" role="document" tabindex="0">
            <button class="dialog-close" aria-label="close" type="button"><span class="icon icon-close">x</span></button>
            <div class="modal-content-div">
              <h3 class="heading-small">[Subject] Update: We have received a business rates check from your agent</h3>
              <p><strong>Reference: [reference]</strong></p>
              <p><strong>Property: [address]</strong></p>
              <p><strong>Received: [date and time]</strong></p>
              <p>We received a business rates check from your agent. We will send you a copy of the check by
                email.</p>
              <h3 class="heading heading-small">What happens now?</h3>
              <p>The check will be considered by the Valuation Office Agency (VOA). No further action is required
                at this time.</p>
              <p>We aim to provide a response within 12 weeks. Some checks may take longer to resolve. We will
                prioritise your check if you are a smaller proposer. We will contact you with an outcome for your
                check.</p>
              <p>We will contact your agent if we need more information or evidence.</p>
              <p><strong>Please note:</strong> the information submitted as part of your check may cause the valuation to go up
                as well as down.</p>
              <p>Valuation Office Agency</p>
              
               <a href="#" role="button">Print this message</a><br />
               <a href="#" role="button">Download this message as a PDF</a><br />
              <a href="#" class="margin-top-10 dialog-cancel button-secondary" aria-label="close" role="button">Close</a> </div>
          </div>
        </div>
      </div>
      <div class="dialog dialog-scroll" id="dialog-message3" aria-hidden="true" data-modal="true">
        <div class="dialog-holder" aria-labelledby="dialog-message" aria-describedby="dialog-content-delete" role="alertdialog">
          <div class="dialog-content" id="dialog-content-message3" role="document" tabindex="0">
            <button class="dialog-close" aria-label="close" type="button"><span class="icon icon-close">x</span></button>
            <div class="modal-content-div">
              <h3 class="heading-small">[Subject] Update: We have received your business rates check</h3>
              <p><strong>Reference: [reference]</strong></p>
              <p><strong>Property: [address]</strong></p>
              <p><strong>Received: [date and time]</strong></p>
              <p>We have received the business rates check you submitted on behalf of your client with
                submission ID {submission ID}.</p>
              <h3 class="heading heading-small">What happens now?</h3>
              <p>The check will be considered by the Valuation Office Agency (VOA). No further action is required
                at this time.</p>
              <p>We aim to provide a response within 12 weeks. Some checks may take longer to resolve. We will
                prioritise the check if your client is a smaller proposer. We will contact you and your client with an
                outcome for the check.</p>
              <p>We will contact you if we need more information or evidence.</p>
              <p><strong>Please note:</strong> the information submitted as part of your check may cause the valuation to go up
                as well as down.</p>
              <p>Valuation Office Agency</p>
              <a href="#" role="button">Print this message</a><br />
              <a href="#" role="button">Download this message as a PDF</a><br />
              <a href="#" class="margin-top-10 dialog-cancel button-secondary" aria-label="close" role="button">Close</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/get_help.html" %} </main>
{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %} 
  <!-- GOV.UK Prototype kit {{releaseVersion}} --> 
  {% endblock %} 