{% extends "layout.html" %}

{% set title = "Provide a copy of your business rates bill" %}
{% set version = "1" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    <div class="grid-row">
            <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                {{title}}
            </h1>


            <form action="/dashboard/{{version}}/find-property/upload-rates-bill" method="get" class="form">
                <div class=" form-group">


                     		<fieldset id="hasRatesBillGroup" class="">
                   				<legend class="heading-medium">
                                    Please upload a copy of the business rates bill for this property.
                                </legend>


                    		<span class="form-hint">This should be the last bill during the period of time that you were the owner or occupier, or the most recent bill if you currently own or occupy the property.</span>
                    		<br />

	<span class="form-hint">You need to provide this in order to confirm that you have the right to view the detailed information for this property.  
</span>

                            <div class="multiple-choice">
                                <input id="hasRatesBill_true" type="radio" name="hasRatesBill" value="true">
                                <label class="block-label selection-button-radio" for="hasRatesBill_true">I have a business rates bill</label>
                            </div>

                            <div class="multiple-choice">
                                <input id="hasRatesBill_false" type="radio" name="hasRatesBill" value="false">
                                <label class="block-label selection-button-radio" for="hasRatesBill_false">I don’t have a business rates bill</label>
                            </div>
                            
                            
 


                	 </fieldset>

                </div>
                <span class="form-hint">If you don’t have a business rates bill you’ll be able to choose other suitable evidence to upload on the next page.</span> 
              

                <p>
                     <input type="submit" class="button" value="Continue">
                </p>
</form>
</div>
</div>

    {% include "includes/get_help.html" %}

</main>



{% endblock %}
{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
