{% extends "layout.html" %}

{% set title = "Pagination with single search box" %}
{% set version = "1" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}



            <h1 class="heading-xlarge">
                {{title}}
            </h1>


            <div class="table-wrapper">
                 <table id="dataTable" class="table-font-xsmall margin-bottom-20 margin-top-30">
                     <caption class="visuallyhidden">Your properties</caption>
                         <thead>
                             <tr>
                                 <th>Address</th>
                                 <th>Local authority reference</th>
                                 <th>Status</th>
                                 <th>Appointed Agents</th>
                                 <th>Actions</th>
                             </tr>
                         </thead>
                     </table>
                 </div>


<!--
         <ul role="navigation" aria-label="Pagination" class="pagination">
            <li class="disabled previous">Previous <span class="visuallyhidden">page</span></li>
            <li><a href="#"><span class="visuallyhidden">page </span>1</a></li>
            <li><span class="ellipsis">…</span></li>
            <li><a href="#"><span class="visuallyhidden">page </span>4</a></li>
            <li class="active"><span class="visuallyhidden">You're currently on page </span>5</li>
            <li><a href="#"><span class="visuallyhidden">page </span>6</a></li>
            <li><span class="ellipsis">…</span></li>
            <li><a href="#"><span class="visuallyhidden">page </span>40</a></li>
            <li class="next"><a href="#">Next <span class="visuallyhidden">page</span></a></li>
         </ul>
-->

    {% include "includes/get_help.html" %}

</main>


{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
