{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
       <div class="column-two-thirds column-minimum">

         <h1 class="heading-xlarge">
           VOA prototypes
         </h1>
         
         <h2 class="heading-small">Version 7 (Testing by DL)</h2>
         <ul >
          <li class="task-list-item"><a href="/dashboard/7/messages">Messages</a></li>
          <li>Parking
          <ul>
			  <li class="task-list-item"><a href="/dashboard/7/check/parking">Parking already recorded</a></li>
			  <li class="task-list-item"><a href="/dashboard/7/check/parking/no-parking.html">No parking recorded</a></li>
			  <li class="task-list-item"><a href="/dashboard/7/check/internal/summary.html">Summary - with parking</a></li>
			  <li class="task-list-item"><a href="/dashboard/7/check/internal/summary-no-parking.html">Summary - without parking</a></li>
			    <li class="task-list-item"><a href="/dashboard/7/check/parking/edit-parking-errors.html">Parking form - with errors</a></li>
			  </ul>
          
          </li>
          
           <li class="task-list-item"><a href="/dashboard/7/agent">Agent dashboard ('My cases' tab + submitted cases)</a></li>
           <li class="task-list-item"><a href="/dashboard/7/business">Business dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/7/business-small">Business dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/7/business/start">Business dashboard (No property journey)</a></li>
           <li class="task-list-item"><a href="/dashboard/7/agent/valuations/pubs">Pubs check journey (from detailed valuation)</a></li>

         </ul>

         <h2 class="heading-small">Version 6</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/6/agent">Agent dashboard ('My cases' tab + submitted cases)</a></li>
           <li class="task-list-item"><a href="/dashboard/6/business">Business dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/6/business-small">Business dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/6/business/start">Business dashboard (No property journey)</a></li>
           <li class="task-list-item"><a href="/dashboard/6/agent/valuations/pubs">Pubs check journey (from detailed valuation)</a></li>

         </ul>

         <h2 class="heading-small">Version 5</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/5/agent">Agent dashboard (bulk action with checkboxes)</a></li>
         </ul>

         <h2 class="heading-small">Version 4</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/4/agent">Agent dashboard (with my properties tab)</a></li>
           <li class="task-list-item"><a href="/dashboard/4/business">Business dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/4/business-small">Business dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/4/business/start">Business dashboard (No property journey)</a></li>
           <li class="task-list-item"><a href="/dashboard/4/agent/valuations/pubs">Pubs check journey (from detailed valuation)</a></li>
         </ul>
         <h2 class="heading-small">Version 3</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/3/agent">Agent dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business">Business dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business-small">Business dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business/start">Business dashboard - No property on dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business/start-claimed">Business dashboard - 1st property claimed</a></li>
         </ul>

         <h2 class="heading-small">Version 2</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/2/agent">Agent dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/2/agent-small">Agent dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business">Business dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business-small">Business dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business/start">Business dashboard - No property on dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business/start-claimed">Business dashboard - 1st property claimed</a></li>
           <li class="task-list-item"><a href="/dashboard/2/agent/valuations/detailed">Detailed valuation</a></li>

         </ul>

         <h2 class="heading-small">Version 1</h2>
         <ul >
             <li class="task-list-item">
                 <a href="/dashboard/1/interim/">Agent dashboard (interim design)</a>
             </li>
             <li class="task-list-item">
                 <a href="/dashboard/1/interim-business/">Business dashboard (interim design)</a>
             </li>
           <li class="task-list-item">
               <a href="/dashboard/1/">Agent dashboard</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/manage-properties/pagination">Pagination with single search box</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/manage-properties/filtering">Sorting and filtering columns</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/change-business-details-1">Change business details (single form with pre-populated fileds)</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/change-business-details-2">Change business details (summary with change action)</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/delete-draft-cases">Delete draft cases</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/valuations/detailed">Challenge (starting form detailed valuation)</a>
           </li>
           <li class="task-list-item"><a href="/dashboard/1/valuations/detailed">Detailed valuation</a></li>


         </ul>




       </div>
     </div>
</main>

{% endblock %}
