{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
       <div class="column-two-thirds column-minimum">

         <h1 class="heading-xlarge">
           VOA prototypes
         </h1>


         <h2 class="task-list-section">
           <span class="task-list-section-number">1. </span> Property linking - Dashboard
         </h2>

         <ul class="task-list-items">
           <li class="task-list-item">
               <a href="/dashboard/1/">Agent dashboard</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/manage-properties/pagination">Pagination with single search box</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/manage-properties/filtering">Sorting and filtering columns</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/change-business-details-1">Change business details (single form with pre-populated fileds)</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/change-business-details-2">Change business details (summary with change action)</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/delete-draft-cases">Delete draft cases</a>
           </li>
         </ul>


       </div>
     </div>
</main>

{% endblock %}
