{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
       <div class="column-two-thirds column-minimum">

         <h1 class="heading-xlarge">
           VOA prototypes
         </h1>


         <h2 class="heading-small">Version 4</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/4/agent">Agent dashboard (with my properties tab)</a></li>
         </ul>


         <h2 class="heading-small">Version 3</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/3/agent">Agent dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business">Business dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business-small">Business dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business/start">Business dashboard - No property on dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/3/business/start-claimed">Business dashboard - 1st property claimed</a></li>
         </ul>

         <h2 class="heading-small">Version 2</h2>
         <ul >
           <li class="task-list-item"><a href="/dashboard/2/agent">Agent dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/2/agent-small">Agent dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business">Business dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business-small">Business dashboard (2 properties)</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business/start">Business dashboard - No property on dashboard</a></li>
           <li class="task-list-item"><a href="/dashboard/2/business/start-claimed">Business dashboard - 1st property claimed</a></li>
         </ul>

         <h2 class="heading-small">Version 1</h2>
         <ul >
           <li class="task-list-item">
               <a href="/dashboard/1/">Agent dashboard</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/manage-properties/pagination">Pagination with single search box</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/manage-properties/filtering">Sorting and filtering columns</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/change-business-details-1">Change business details (single form with pre-populated fileds)</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/change-business-details-2">Change business details (summary with change action)</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/delete-draft-cases">Delete draft cases</a>
           </li>
           <li class="task-list-item">
               <a href="/dashboard/1/valuations/detailed">Challenge (starting form detailed valuation)</a>
           </li>


         </ul>




       </div>
     </div>
</main>

{% endblock %}
