{% extends "layout.html" %}

{% set title = "Appoint an agent - Summary" %}
{% set version = "7" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}
<main id="content" role="main"> {% include "includes/phase_banner_prototype.html" %}
  <div class="grid-row">
    <div class="column-whole">
      <h1 class="heading-xlarge margin-bottom-10 visually-hidden"> {{title}} </h1>
      <h2 class="heading-medium clearfix">Appoint agent - summary</h2>
      <p>You have appointed ABC Agent (Agent ID: 12345) with the ability to submit checks and challenges to four properties.</p>
      <div class="panel panel-border-wide">
        <p> Your agent has 21 days to accept your request. Otherwise your request will be rejected and you will need to send a new request. </p>
      </div>
      
      <div class="table-wrapper">
          <table class="table-font-xsmall margin-top-0 dataTable no-footer" role="grid" aria-describedby="propertiesTableBusiness_info" style="width: 960px;">
            <colgroup>
            
           
            <col style="width:220px">
            <col>
            <col style="width:180px">
            <col>
            </colgroup>
           
            <thead>
              <tr role="row">
             
                <th class="sorting_asc" tabindex="0" aria-controls="propertiesTableBusiness" rowspan="1" colspan="1" aria-label="Address: activate to sort column descending" style="width: 320px;" aria-sort="ascending">Address</th>
                <th class="sorting" tabindex="0" aria-controls="propertiesTableBusiness" rowspan="1" colspan="1" aria-label="Local authority reference: activate to sort column ascending" style="width: 200px;">Local authority reference</th>
                <th class="sorting" tabindex="0" aria-controls="propertiesTableBusiness" rowspan="1" colspan="1" aria-label="Agent: activate to sort column ascending" style="width: 200px;">Agent</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 160px;">Actions</th>
              </tr>
              <tr id="filterrow" role="row">
              
                <th rowspan="1" colspan="1"><input type="search" class="filter-input">
                  <button class="icon"><i class="search-icon"></i></button></th>
                <th rowspan="1" colspan="1"><input type="search" class="filter-input">
                  <button class="icon"><i class="search-icon"></i></button></th>
                <th rowspan="1" colspan="1"><input type="search" class="filter-input">
                  <button class="icon"><i class="search-icon"></i></button></th>
                <th rowspan="1" colspan="1"><a href="#" class="clear">Clear search</a></th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd">
               
                <td class="sorting_1">1 Chatsworth Rd, Stretford, Manchester M32 9QF</td>
                <td>63799452699</td>
                <td>ABC Agent</td>
                <td></td>
              </tr>
              <tr role="row" class="even">
              
               
                <td class="sorting_1">1 Rose Cottages, Penrose, Wadebridge PL27 7TB</td>
                <td>79737938099</td>
                <td>ABC Agent</td>
                <td></td>
              </tr>
              <tr role="row" class="odd">
              
                <td class="sorting_1">1 Virginia St, St Katharine's &amp; Wapping, London E1W</td>
                <td>11207740499</td>
                <td>ABC Agent</td>
                <td></td>
              </tr>
              <tr role="row" class="even">
               
                <td class="sorting_1">103 Fells Rigg, Livingston EH54 8PB</td>
                <td>18609231399</td>
                <td>ABC Agent</td>
                <td></td>
              </tr>

            </tbody>
          </table>
        
  </div>
      
    </div>
  </div>
  
  </div>
  
  <p><a href="/dashboard/{{version}}/business" class="link-back">Back to dashboard</a></p>
  {% include "includes/get_help.html" %} </main>
{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %} 
  <!-- GOV.UK Prototype kit {{releaseVersion}} --> 
  {% endblock %} 