{% extends "layout.html" %}

{% set title = "Appoint an agent" %}
{% set version = "7" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    <div class="grid-row">
            <div class="column-whole">

            <h1 class="visually-hidden">
                {{title}}
            </h1>
             <h2 class="heading-secondary margin-bottom-20">
   
    </h2>

            
             
             <form>
  


       
        <h2 class="heading-medium">Appoint an agent</h2>
           <!--  <p>[If you already have an agent associated with your account, you can link them to this property...]</p>
             <p>[An appointed agent must be able to either do checks, challenges or both on your behalf for this property.]</p>
             <details>
                                           <summary role="button" ><span class="summary">What is a check?</span></summary>
                                           <div class="panel-indent" id="details-content-2" style="margin-bottom:0">
                                             <p>If any of the factual details about your property or land are incorrect, you (the owner, occupier or authorised agent) need to let the VOA know. Telling us about anything that’s incorrect is known as a check.</p>
<p>If all of your property details are correct but you believe your rateable value is incorrect, you must first complete a check and wait for the outcome before making a challenge.</p>

                                           </div>
                                       </details>
                                         <details>
                           <summary role="button"><span class="summary">What is a challenge?</span></summary>
                           <div class="panel-indent" id="details-content-3">
                              <p>Once you’ve completed a check, the VOA will contact you with the outcome. If you disagree with the outcome of the check or you believe the rateable value of your property is incorrect, you can let us know. Doing this is known as a challenge.</p>

							   <p>You can’t start a challenge until you’ve received the outcome for your check.</p>
                           </div>
                       </details> -->
        <p>The following agents are currently associated with your account. Select an agent from the list below or add a new agent to associate them with one or more properties.</p>
        
            <div class="notice margin-top-20 margin-bottom-20">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <p><strong class="bold-small">
  Please be aware that you'll be responsible for any information your agent submits to us about your property. You'll be liable for any penalty or the backdating of revised valuations if your agent submits false information. </strong></p>
 
</div>
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
   <tr>
   	<th>Appoint</th>
   	<th>Agent ID</th>
   	<th>Agent name</th>
  
   </tr>
    <tr>
      <td><div class="table-checkbox multiple-choice"><input type="radio" id="agent_12345"  name="appoint-agent" value="true"><label  for="agent_12345"><span class="visually-hidden">Appoint</span></label></div></td>
      <td>12345</td>
      <td>ABC Agent</td>
      
      
    </tr>
     <tr>
     <td><div class="table-checkbox multiple-choice"><input type="radio" id="agent_67890"  name="appoint-agent" value="true"><label  for="agent_67890"><span class="visually-hidden">Appoint</span></label></div></td>
      <td>67890</td>
      <td>DEF Agent</td>
     
    </tr>
     <tr>
      <td><div class="table-checkbox multiple-choice"><input type="radio" id="agent_54321"  name="appoint-agent" value="true"><label  for="agent_54321"><span class="visually-hidden">Appointed</span></label></div></td>
      <td>54321</td>
      <td>GHI Agent</td>
     
      
    </tr>
   
  </tbody>
</table>
       
       
         <div class="margin-top-20 margin-bottom-20 multiple-choice" data-target="appoint-new-agent-panel">
        <input id="example-contact-by-email" type="radio" name="appoint-agent" value="Yes">
        <label for="example-contact-by-email">Appoint a new agent</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="appoint-new-agent-panel">
       <p>You’ll need to enter the code of the agent you want to appoint and tell us whether they can do checks, challenges or both on behalf of your business.</p>


                <details>
                                <summary role="button"><span class="summary">My agent hasn’t given me a code</span></summary>
                                <div class="panel-indent" id="details-content-1">
                                  You’ll need to ask your agent for the code they were assigned when they registered for this service.
                                </div>
                            </details>
        <label class="form-label margin-top-20" for="agent-id">Agent ID</label>
        <input class="form-control margin-bottom-20" name="agent-id" type="text" id="agent-id">
      </div>
       
     
                        		<fieldset id="canCheckGroup" class="form-group margin-top-20 inline clearfix">
                      				<legend class="heading-medium">
                                       Do you want this agent to submit checks?
                                   </legend>

                                       <details class="margin-bottom-20">
                                           <summary role="button" ><span class="summary">What is a check?</span></summary>
                                           <div class="panel-indent" id="details-content-2">
                                             <p>If any of the factual details about your property or land are incorrect, you (the owner, occupier or authorised agent) need to let the VOA know. Telling us about anything that’s incorrect is known as a check.</p>
<p>If all of your property details are correct but you believe your rateable value is incorrect, you must first complete a check and wait for the outcome before making a challenge.</p>

                                           </div>
                                       </details>

                                     <div class="multiple-choice">
                                       <input id="canCheck_START_AND_CONTINUE" type="radio" name="canCheck" value="START_AND_CONTINUE">
                                       <label class="block-label selection-button-radio" for="canCheck_START_AND_CONTINUE">Yes</label>
                                   </div>

                                   <div class="multiple-choice">
                                    <input id="canCheck_NOT_PERMITTED" type="radio" name="canCheck" value="NOT_PERMITTED">
                                    <label class="block-label selection-button-radio" for="canCheck_NOT_PERMITTED">No</label>
                                   </div>

                           	 </fieldset>




                		<fieldset id="canChallengeGroup" class="form-group inline">
              				<legend class="heading-medium">
                               Do you want this agent to submit challenges?
                           </legend>
                           
                            <div class="panel panel-border-wide">
  <p>
    You can’t start a challenge until you’ve received the outcome for your check.
  </p>
</div>

                       <details class="margin-bottom-20">
                           <summary role="button"><span class="summary">What is a challenge?</span></summary>
                           <div class="panel-indent" id="details-content-3">
                              <p>Once you’ve completed a check, the VOA will contact you with the outcome. If you disagree with the outcome of the check or you believe the rateable value of your property is incorrect, you can let us know. Doing this is known as a challenge.</p>

							   <p>You can’t start a challenge until you’ve received the outcome for your check.</p>
                           </div>
                       </details>


                        <div class="multiple-choice">
                           <input id="canChallenge_START_AND_CONTINUE" type="radio" name="canChallenge" value="START_AND_CONTINUE">
                           <label class="block-label selection-button-radio" for="canChallenge_START_AND_CONTINUE">Yes</label>
                       </div>

                       <div class="multiple-choice">
                            <input id="canChallenge_NOT_PERMITTED" type="radio" name="canChallenge" value="NOT_PERMITTED">
                            <label class="block-label selection-button-radio" for="canChallenge_NOT_PERMITTED">No</label>
                        </div>

           	            </fieldset>      
        
        
     

      
      

   <p class="clearfix">
                               <a class="button" href="/dashboard/{{version}}/business/appoint-agent/select-properties">Continue</a>
                            
                        

                           </p>
                           
                            <p><a href="javascript: history.go(-1)" class="link-back">Go back</a></p>
                           
  
</form>
             
             
             
             
            
            


    </div>
</div>


    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
