{% extends "layout.html" %}

{% set title = "Appoint an agent" %}
{% set version = "7" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_prototype.html" %}

    <div class="grid-row">
            <div class="column-whole">

            <h1 class="heading-xlarge margin-bottom-10">
                {{title}}
            </h1>
             <h2 class="heading-secondary margin-bottom-20">
   
    </h2>

            
             
             <form method="post" id="form-appoint-agent" name="form-appoint-agent">
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">
         Do you want to appoint an existing agent or appoint a new agent?
        </h1>
      </legend>
      
       <div class="multiple-choice">
        <input id="example-contact-by-phone" type="radio" name="appoint-agent" value="/dashboard/7/business/appoint-agent/appoint-existing-agent.html">
        <label for="example-contact-by-phone">Appoint an existing agent</label>
      </div>

      <div class="multiple-choice">
        <input id="example-contact-by-email" type="radio" name="appoint-agent" value="/dashboard/7/business/appoint-agent/appoint-new-agent.html">
        <label for="example-contact-by-email">Appoint a new agent</label>
      </div>
      

     
      

      
      

    </fieldset>
  </div>
  <input class="button" type="submit" value="Continue" id="appointAgent">
</form>
             
             
             
             
            
            


    </div>
</div>


    {% include "includes/get_help.html" %}

</main>



{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
