{% extends "layout.html" %}

{% set title = "Appoint an agent" %}
{% set version = "7" %}

{% block page_title %}
  {{title}}
{% endblock %}

{% block service_name %}
    Check and challenge your business rates valuation
{% endblock %}


{% block content %}
<main id="content" role="main"> {% include "includes/phase_banner_prototype.html" %}
  <div class="grid-row">
    <div class="column-whole">
    <h1 class="heading-xlarge margin-bottom-10 visually-hidden"> {{title}} </h1>
    <h2 class="heading-secondary margin-bottom-20"> </h2>
    
        <h2 class="heading-medium clearfix">Appoint agent to one or more properties</h2>
        <p>You can appoint ABC Agent (Agent ID: 12345) with the ability to submit checks and challenges to the following properties:</p>
        
        
        

        
        <div class="margin-bottom-20">
      
		<a href="#" id="selectAll2" class="margin-bottom-20">Select all / deselect all</a>
 
    </div>
        <div class="table-wrapper">
          <table  class="table-font-xsmall margin-top-0 dataTable no-footer" role="grid" aria-describedby="propertiesTableBusiness_info" style="width: 960px;">
            <colgroup>
            <col style="width:80px;">
           
            <col style="width:220px">
         
            <col style="width:180px">
            <col>
            </colgroup>
           
            <thead>
              <tr role="row">
               <th>Select</th>
                <th class="sorting_asc" tabindex="0" aria-controls="propertiesTableBusiness" rowspan="1" colspan="1" aria-label="Address: activate to sort column descending" style="width: 320px;" aria-sort="ascending">Address</th>
                <th class="sorting" tabindex="0" aria-controls="propertiesTableBusiness" rowspan="1" colspan="1" aria-label="Local authority reference: activate to sort column ascending" style="width: 200px;">Local authority reference</th>
               
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 160px;">Actions</th>
              </tr>
              <tr id="filterrow" role="row">
               <th></th>
                <th rowspan="1" colspan="1"><input type="search" class="filter-input">
                  <button class="icon"><i class="search-icon"></i></button></th>
                <th rowspan="1" colspan="1"><input type="search" class="filter-input">
                  <button class="icon"><i class="search-icon"></i></button></th>
               
                <th rowspan="1" colspan="1"><a href="#" class="clear">Clear search</a></th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="1" name="1" value="true"><label for="1"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">1 Chatsworth Rd, Stretford, Manchester M32 9QF</td>
                <td>63799452699</td>
               
                <td></td>
              </tr>
              <tr role="row" class="even">
              <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="2" name="2" value="true"><label for="2"><span class="visually-hidden">Appoint</span></label></div></td>
               
                <td class="sorting_1">1 Rose Cottages, Penrose, Wadebridge PL27 7TB</td>
                <td>79737938099</td>
               
                <td></td>
              </tr>
              <tr role="row" class="odd">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="54321" name="3" value="true"><label for="3"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">1 Virginia St, St Katharine's &amp; Wapping, London E1W</td>
                <td>11207740499</td>
             
                <td></td>
              </tr>
              <tr role="row" class="even">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="4" name="4" value="true"><label for="4"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">103 Fells Rigg, Livingston EH54 8PB</td>
                <td>18609231399</td>
               
                <td></td>
              </tr>
              <tr role="row" class="odd">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="5" name="5" value="true"><label for="5"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">11 albert Square, Dundee DD1 1DD</td>
                <td>37915111599</td>
            
                <td></td>
              </tr>
              <tr role="row" class="even">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="6" name="6" value="true"><label for="6"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">13A Bridge St, Banchory AB31 5SX</td>
                <td>45339663099</td>
                <td></td>

              </tr>
             
              <tr role="row" class="odd">
                <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="7" name="7" value="true"><label for="7"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">14 Cardiff St, Millport, Isle of Cumbrae KA28 0AU</td>
                <td>51942751199</td>
                <td></td>
              
              </tr>
              
              <tr role="row" class="even">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="8" name="8" value="true"><label for="8"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">14 Hatley Ave, Ilford IG6 1EH</td>
                <td>03477941699</td>
              
                <td></td>
              </tr>
              <tr role="row" class="odd">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="9" name="9" value="true"><label for="9"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">15 Milton Rd, Blacon, Chester CH1 5XE</td>
                <td>30811883599</td>
              
                <td></td>
              </tr>
              <tr role="row" class="even">
               <td><div class="table-checkbox multiple-choice"><input type="checkbox" id="10" name="10" value="true" ><label for="10"><span class="visually-hidden">Appoint</span></label></div></td>
                <td class="sorting_1">171 Farringdon Rd, Clerkenwell, London EC1R 3AL</td>
                <td>68797473999</td>
              
                <td></td>
              </tr>
            </tbody>
          </table>
        
  </div>
  <div class="margin-bottom-20">
      
		<a href="#" id="selectAll1" class="margin-bottom-20">Select all / deselect all</a>
 
    </div>
  </div>
	</div>
	<div class="grid-row">
	  
    <div class="column-half">
    	<div>
            Showing
            <ul class="showResults">
        <li>15</li>
        <li><a href="#">25</a></li>
<li><a href="#">50</a></li>
<li><a href="#">100</a></li>
</ul>
            properties per page
        </div>
    </div>
    <div class="column-half">
    <div class="paginationBlock">
    Page 2 of 5
    <ul class="pagination">
    
    	
		<li class="previous disabled"><a href="#">Previous</a></li>
		<li><a href="#">1</a></li>
    	<li class="current">2</li>
    	<li><a href="#">3</a></li>
    	<li><a href="#">4</a></li>
    	<li><a href="#">5</a></li>
		<li class="next"><a href="#">Next</a></li>
    	
    </ul>
    	</div>
    </div>
    </div>
    
    
             <details class="margin-bottom-20 clearfix">

  <summary><span class="summary">I cannot see my property in the list</span></summary>

  <div class="panel panel-border-narrow">
<p>The list of properties you can select depends on whether you want an agent to carry out either a check, a challenge or both. A maximum of two agents can assigned to a property, with permissions to either check or challenge a property valuation.</p>
    <ul class="list list-bullet">
    	<li>If you are assigning an agent with both check and challenge rights, then a list of properties that have no agents already assigned will be displayed.</li>
<li>If you are assigning an agent with check rights only, then a list of properties with no agent assigned and properties where an agent has already been assigned with challenge rights will be displayed.</li>
<li>If you are assigning an agent with challenge rights only, then a list of properties with no agent assigned and properties where an agent has already been assigned with check rights will be displayed.</li>

    </ul>

  </div>

</details>
    
    
   <p class="clearfix">
                               <a href="/dashboard/{{version}}/business/appoint-agent/appoint-agent-summary" class="button margin-right-20">Continue</a>
                            
                            
                           </p>
                          <p><a href="javascript: history.go(-1)" class="link-back">Go back</a></p>
                       
  {% include "includes/get_help.html" %} </main>
{% endblock %}

{% block body_end %}
  {% include "includes/" + version +"/scripts.html" %} 
  <!-- GOV.UK Prototype kit {{releaseVersion}} --> 
  {% endblock %} 